@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm font chữ cho đẹp (Tùy chọn) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background-color: #f8fafc; /* Slate-50 */
}